body
{
    background: url("http://g03.a.alicdn.com/kf/HTB1uPWEJFXXXXXSXFXXq6xXFXXXA/10x10ft-Fashion-Vinyl-Wood-Floor-New-And-Special-Topic-Photography-Outdoors-Theme-Background-Studio-Backdrop-TV.jpg_640x640.jpg") repeat;
}

.navbar
{
    background: #83ae76;
}

.dropdown-menu
{
    background: #00c0c0;
}

