body
{
    background: url("http://ci3.ukrspace.com/assets/uploads/static/rp_bg_body.gif") repeat;
}

.body
{
    padding: 10px;
    min-height: 100%;
    height: 100%;
    background-color: white;
}
.single-post-comments
{
    margin-top: 10px;
}

.single-post-comment
{
    border: 1px dotted gray;
}

.min-width-clearfix
{
    min-width: 1170px
}