body
{
    background: url("http://ci3.ukrspace.com/assets/uploads/static/rp_bg_body.gif") repeat;
    min-height: 100%;
}

.body
{
    padding: 10px;
    min-height: 100%;
    height: 100%;
    background-color: white;
}
.single-post-comments
{
    margin-top: 10px;
}

.single-post-comment
{
    border: 1px dotted gray;
}

.min-width-clearfix
{
    min-width: 1170px
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.text-white
{
    color: white;
}